body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  min-height: 500px;
  padding: 10px;
  margin-top: 50px;
}

.calculator {
  width: 400px;
  border: 2px var(--border) solid;
  border-radius: 15px;
  padding: 20px;
  background-color: var(--calculator);
}
button {
  width: 100%;
  border-radius: 6px;
  background-color: aliceblue;
  border-color: whitesmoke;
  padding: 20px;
  font-size: 20px;
  margin: 2px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 4px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#display {
  border-left: 0;
  border-right: 0;
  height: 2rem;
  text-align: end;
  width: 100%;
  padding: 10px 0px;
  font-size: 5vh;
}

button:hover {
  cursor: pointer;
  background-color: rgb(226, 240, 255);
}
